@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@font-face {
  font-family: $fontFamily.icon;
  src: url('fonts/icons/dracula.ttf??tcia5c') format('truetype'),
       url('fonts/icons/dracula.woff??tcia5c') format('woff'),
       url('fonts/icons/dracula.svg??tcia5c#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}