$icons = {
  alarm: "\e902",
  account_box: "\e909",
  account_circle: "\e90a",
  add: "\e90c",
  add_a_photo: "\e90d",
  add_circle: "\e911",
  announcement: "\e92a",
  arrow_back: "\e92d",
  arrow_downward: "\e92e",
  arrow_drop_down: "\e92f",
  poll: "\e936",
  assignment: "\e937",
  assignment_ind: "\e938",
  assignment_late: "\e939",
  attach_file: "\e93f",
  attach_money: "\e940",
  attachment: "\e941",
  cloud_upload: "\e946",
  turned_in_not: "\e958",
  brightness_1: "\e966",
  brightness_2: "\e967",
  brightness_3: "\e968",
  brightness_4: "\e969",
  brightness_low: "\e96a",
  brightness_medium: "\e96b",
  brightness_high: "\e96c",
  build: "\e972",
  phone: "\e978",
  call_to_action: "\e980",
  wb_cloudy: "\e9a0",
  code: "\e9a6",
  photo_library: "\e9a7",
  comment: "\e9ab",
  content_copy: "\e9b3",
  content_cut: "\e9b4",
  content_paste: "\e9b5",
  mode_edit: "\e9b8",
  date_range: "\e9c8",
  dehaze: "\e9c9",
  drafts: "\e9ec",
  markunread: "\e9f2",
  equalizer: "\e9f4",
  error: "\e9f5",
  insert_invitation: "\e9f9",
  get_app: "\ea17",
  file_upload: "\ea18",
  filter: "\ea19",
  filter_list: "\ea29",
  folder_open: "\ea3c",
  folder_shared: "\ea3d",
  headset: "\ea78",
  link: "\ea96",
  local_cafe: "\eac1",
  shopping_cart: "\eac8",
  print: "\ead2",
  lock_open: "\ead8",
  lock_outline: "\ead9",
  mms: "\eaee",
  mode_comment: "\eaef",
  notifications: "\eb0e",
  notifications_active: "\eb0f",
  notifications_none: "\eb10",
  notifications_off: "\eb11",
  notifications_paused: "\eb12",
  person: "\eb2d",
  person_add: "\eb2e",
  play_arrow: "\eb4b",
  play_circle_filled: "\eb4c",
  play_circle_outline: "\eb4d",
  send: "\eb92",
  sort_by_alpha: "\ebc3",
}