$container ?= 1070px;
$gutter ?= 16px;

$colors ?= {
  base: #222222,
  main: #181342,
  secundary: #8178CC,
  light: #fcfcfc,
  error: #E52C2A,
  success: #28B871
}

$fontFamily = {
  main: Roboto Condensed\, Arial \, sans-serif,
  highlight: Nunito\, Arial \, sans-serif,
  icon: 'dracula',
}